src/flows.json
[
    {
        "id": "5da7061e.093b48",
        "type": "tab",
        "label": "Flow 1"
    },
    {
        "id": "6d88db88.67ca34",
        "type": "mqtt in",
        "z": "5da7061e.093b48",
        "name": "",
        "topic": "IR/key/#",
        "qos": "0",
        "datatype": "auto",
        "broker": "ae12f56e.50b948",
        "x": 213,
        "y": 159,
        "wires": [
            [
                "383bf7e1.341868",
                "c8b7a9b.0027e58"
            ]
        ]
    },
    {
        "id": "383bf7e1.341868",
        "type": "debug",
        "z": "5da7061e.093b48",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "false",
        "x": 427,
        "y": 143,
        "wires": []
    },
    {
        "id": "602d8c86.785844",
        "type": "mqtt out",
        "z": "5da7061e.093b48",
        "name": "IR",
        "topic": "IR/command",
        "qos": "0",
        "retain": "true",
        "broker": "ae12f56e.50b948",
        "x": 840,
        "y": 338,
        "wires": []
    },
    {
        "id": "95d4139b.eeb5c",
        "type": "inject",
        "z": "5da7061e.093b48",
        "name": "ON",
        "topic": "keyboard/command/",
        "payload": "loquesemedelagana",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 194,
        "y": 304,
        "wires": [
            [
                "602d8c86.785844",
                "4dfae63e.3bbd58"
            ]
        ]
    },
    {
        "id": "d4591043.6d91f",
        "type": "inject",
        "z": "5da7061e.093b48",
        "name": "OFF",
        "topic": "keyboard/command/",
        "payload": "{\"type\":\"3\",  \"value\": \"1303526340\",\"length\":\"32\"}",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "602d8c86.785844",
                "4dfae63e.3bbd58"
            ]
        ]
    },
    {
        "id": "c8b7a9b.0027e58",
        "type": "json",
        "z": "5da7061e.093b48",
        "name": "",
        "pretty": false,
        "x": 441,
        "y": 216,
        "wires": [
            [
                "5fb5690f.6f2a08"
            ]
        ]
    },
    {
        "id": "5fb5690f.6f2a08",
        "type": "debug",
        "z": "5da7061e.093b48",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 697,
        "y": 194,
        "wires": []
    },
    {
        "id": "4dfae63e.3bbd58",
        "type": "debug",
        "z": "5da7061e.093b48",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 745,
        "y": 445,
        "wires": []
    },
    {
        "id": "ae12f56e.50b948",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "http://192.168.1.8/",
        "port": "1883",
        "clientid": "test-client",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    }
]